<nav class="navbar navbar-expand-lg navbar-light bg-lignt">
    <div class="container">
        <a class="navbar-brand" href="/user/{{user.dataValues.id}}">
            <img src="/assets/images/SmartMoneyLogoOne.png" width="250" alt="Smart Money logo with man wearing glasses">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/user/transactions/{{user.dataValues.id}}">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/bills/{{user.dataValues.id}}">Bill Pay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/loans/{{user.dataValues.id}}">Loans</a>
                </li>
            </ul>
        </div>
        <hr />
        <div class="my-2 my-lg-0">
            <a href="/"><button class="button header-btn">Log Out</button></a>
        </div>
    </div>
</nav>

<main class="container">
    <p id="userName">Welcome {{user.dataValues.f_name}} {{user.dataValues.l_name}}</p>
    <p id="userNum">#00000<span id="userid">{{user.dataValues.id}}</span></p>

    <section class="monthlyTotals">
        <div class="row">
            <div class="col-8">
                <h5>Monthly Budget</h5>
                    <hr><span class="dollarSign">$ </span><span id="monthlyBudget">{{user.dataValues.budget}}</span>
                    <button id="budgetModalBtn" type="button" data-toggle="modal" data-target="#editBudgetModal"><i class="fas fa-pencil-alt"></i></button>
            </div>
        </div>
    </section>

    {{!-- Edit Budget Modal --}}
    <section class="modal fade" id="editBudgetModal" tabindex="-1" role="dialog" aria-labelledby="editBudget" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Budget:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="updatedBudgetInput">Budget</label>
                    <input type="number" id="updatedBudgetInput" placeholder="$">
                </div>
                <div class="modal-footer">
                    <form id="editBudget">
                        <button type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <section class="container section-space-outer-20">
        <div class="row ">
            <div id="services" class="container inner">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-stretch"><a href="/user/transactions/{{user.dataValues.id}}">
                        <div class="card w-100 transaction-card" >
                                <div class="service-card-icon">
                                    <i class="fas fa-calculator" style="color: #163D5B;"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h3 class="card-title">Track your spending</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-stretch"><a href="/user/bills/{{user.dataValues.id}}">
                        <div class="card w-100 bill-pay-card" >
                                <div class="service-card-icon">
                                    <i class="far fa-money-bill-alt" style="color: #38A99E;"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h3 class="card-title">Bill pay made easy</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-stretch"><a href="/user/loans/{{user.dataValues.id}}">
                        <div class="card w-100 loan-card">
                                <div class="service-card-icon">
                                    <i class="fas fa-piggy-bank" style="color: #E65139;"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h3 class="card-title">Start saving now!</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
