<p>#00000<span id="userid">{{userTransactions.user_id}}</span></p>
<p>{{userTransactions.first_name}} {{userTransactions.last_name}}</p>
<p>Monthly Budget: ${{userTransactions.budget}}</p>
<p>Total amount spent: $<span id="amountSpent"></span></p>

{{#each userTransactions.transactions}}
    <ul>
        <li>{{date}}</li>
        <li>{{source}}</li>
        <li class="amountDisplay">{{amount}}</li>
        <li>{{category}}</li>
    </ul>
{{/each}}

<form id="createTransaction">
    <label for="tCategory">Choose a category:</label>
    <select id="tCategory">
        <option value="">--Please choose an option--</option>
        <option value="Groceries">Groceries</option>
        <option value="Healthcare">Healthcare</option>
        <option value="Travel">Travel</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Food">Food</option>
        <option value="Household Items">Household Items</option>        
    </select>

    <label for="tAmount">Amount</label>
    <input id="tAmount" type="number" step="0.01">

    <label for="tSource">Source</label>
    <input id="tSource" type="text">

    <label for="tDate">Date of Transaction</label>
    <input id="tDate" type="date">

    <button>Add</button>
</form>
